-r requirements.txt

pytest
coverage
pytest-benchmark
pytest-cov
responses

black
flake8
mypy
pre-commit

requests_mock

mkdocs-material
pymdown-extensions
mkdocs-include-markdown
mkdocstrings[python]

build
hatchling
twine
wheel
