-r requirements.txt

jupyter

pytest
coverage
pytest-benchmark
pytest-cov
responses

black
flake8
mypy
pre-commit

requests_mock

sphinx
pydata-sphinx-theme
sphinx-autobuild
autodoc
sphinxcontrib-napoleon

build
hatchling
twine
wheel
